
  <div class="container">

    <div class="nav_bar">
      <ul>
        <li> <a href="/contacts/<%= @contact.id %>/addresses/new">New Address</a></li>
        <li> <a href="/contacts/<%= @contact.id %>/edit">Edit contact</a></li>
        <li> <a href="/contacts">View all contacts</a></li>
    </div>

    <ul>
      <li><b>Name: </b><%= @contact.name %></li>
      <li><b>Email: </b><%= @contact.email %></li>
    </ul>

    <% @contact.addresses.each do |address| %>
      <ul>
        <!-- <li><b> Address: </b></li> -->
        <li><a href="/contacts/<%= @contact.id %>/addresses/<%= address.id %>/edit"><%= address.street %></a></li>
        <li><%= address.city %>, <%= address.state %> <%= address.zip %></li>
        <li>Address Type: <%=address.address_type %></li>
        <hr>
      </ul>
    <% end %>
    

  </div>

